PORT=3000
FIREBASE_API_KEY=AIzaSyAsqv_bQHXm07yCiFALvEfiIVLOrbBZEOQ
FIREBASE_AUTH_DOMAIN=locropost.firebaseapp.com
FIREBASE_PROJECT_ID=locropost
FIREBASE_STORAGE_BUCKET=locropost.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=309307617731
FIREBASE_APP_ID=1:309307617731:web:350c4339c6677ee6494d76
FIREBASE_MEASUREMENT_ID=G-08GSR7G5CW
